*.html linguist-vendored
*.TeX linguist-vendored
*TeX linguist-vendored
*.latex  linguist-vendored
*.ltx linguist-vendored
*.tex linguist-vendored
*.toc linguist-vendored
*.pyz linguist-vendored
*.exe linguist-vendored
